.list {
    padding: 0;
    height: calc(100vh - 500px);
    overflow-y: scroll;
}
.item 
    {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .item:last-child {
        margin-bottom: 0;
    }

.bottom
{
    text-align: right;
}

.bottom Button
{
    width: 215px;
}

.empty_bun_element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted grey;
    padding: calc(var(--offset-base-size)  * 3) 0;
}

.rotate_180 img{
    transform: rotate(180deg);
}