.list {
    padding: 0;
    height: calc(100vh - 500px);
    overflow-y: scroll;
}
.item 
    {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .item:last-child {
        margin-bottom: 0;
    }

.bottom
{
    text-align: right;
}
