.app {
    margin: 0 auto;
}

.main {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.message {
    margin: 0 calc(var(--offset-base-size) * 5);
    margin-top: calc(100vh - 100vh/2);
    text-align: center;
}