@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('./fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: 'JetBrainsMono-Bold';
}

.custom_scroll::-webkit-scrollbar {
  width: calc(var(--offset-base-size) * 2);
  height: 5px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: #2c2c3d;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color)
}

.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #5a5a78;
}

.red {
  color: red;
}

.secondary {
  color: #8585AD;
}