body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom_scroll::-webkit-scrollbar {
  width: calc(var(--offset-base-size)  * 2);
  height: 5px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: #2c2c3d;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color)
}

  .custom_scroll::-webkit-scrollbar-thumb:hover {
      background: #5a5a78;
  }