.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_item {
    flex-basis: calc(50% - calc(var(--offset-base-size) * 5));
}

.flex_item__statistic {
    composes: flex_item;
    margin-top: 100px;
}