section ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.group_list {
    height: calc(100vh - 310px);
    overflow-y: scroll;
}