.header {
    background: #1C1C21;
}

.menu {
    width: 1240px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.menu_item {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_item:first-child {
    justify-content: flex-start;
}

.menu_item:last-child {
    justify-content: flex-end;
}

.menu_item_a {
    display: flex;
    align-items: center;
}

.menu_item_a:first-child {
    margin-left: 0;
}

.menu_item_a:last-child {
    margin-right: 0;
}